/* app css stylesheet */

.top-navbar{
  top:0;
  left:0;
  right:0;
  width: 100%;
}

.left-menu{
  padding-top: 20px;
  height: 100%;
}


.left-menu>ul{
  list-style-type: none;
}

.footer{
  position:absolute;
  bottom:0;
  left:0;
  max-height: 60px;
  width:100%;
  background-color: #e1e1e1;
}

.crise-block{
  background-color: lightcoral;
  border: solid black 1px;
  margin: 10px 10px 10px 10px;
}

.my-sidebar{
  border: 0px solid darkslategray;
}

.my-sidebar>li{
  border: 1px solid darkslategray;
}

.clickable {
  cursor : pointer; 
}

#map {
      width: 100%;
      height: 400px;
}