<div class="container-full">

  <div class="row">

    <div class="col-lg-12 text-center v-center">

      <h1>Bienvenue sur la plateforme SWAP</h1>
      <p class="lead"></p>

      <br>

      <form class="col-lg-12">
        <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
          <input type="text" class="center-block form-control input-lg" title="Enter you email." placeholder="Rechercher une crise">
          <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button"><i class="fa fa-search"></i> Rechercher</button></span>
        </div>
      </form>
    </div>

  </div>
  <!-- /row -->

  <div class="row">

    <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
      <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-twitter"></i></a>      <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

</div>
<!-- /container full -->

<div class="container">

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Qui sommes-nous <i class="fa fa-question-circle"></i></h3></div>
        <div class="panel-body">Nous somme un groupe qui veux aider les secours et les réfugiés de grandes crises. Ces dernières années, les types
          de crises se sont multipliées, allant des tremblements de terre aux attentats terroristes. Pour tous ces événements
          nous sommes présents pour aider toutes les personnes impliquées. Pour apprendre à mieux nous connaitre vous pouvez
          clicker
          <button class="btn btn-success">ICI</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Vous êtes secouristes <i class="fa fa-question-circle"></i></h3></div>
        <div class="panel-body">Notre plateforme vous permet d'otenir des renseignement de manière rapide et efficace. Vous pouvez vous-même intéragir
          pour signaler des zones de danger et indiquer les lieux et informations pour chercher de l'aide. Vous pouvez aussi
          donner des informations aux proches. Pour rejoindre votre espace cliquez
          <button class="btn btn-success">ICI</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Vous êtes à la recherche d'un proche <i class="fa fa-question-circle"></i></h3></div>
        <div class="panel-body">Notre plateforme vous permet de rechercher le nom d'un de vos proche afin de prendre de ses nouvelles. Chaque personnes
          peux signaler être à la recherche de quelqu'un ou être en présence d'une personne en bonne santé. Les secours vont
          pouvoir aussi vous donner des informations sur les personnes que vous rechercher. Pour accéder à la recherche cliquez
          <button class="btn btn-success">ICI</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer text-center">
    SWAP team
  </footer>
</div>