<div class="container-full">

  <div class="row">

    <div class="col-lg-12 text-center v-center">

      <h1>Bienvenue sur la plateforme SWAP</h1>
      <p class="lead"></p>
    </div>

  </div>
  <!-- /row -->

  <div class="row">

    <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
      <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-twitter"></i></a>      <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
    </div>

  </div>
</div>
<!-- /container full -->

<div class="container">

  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Vous êtes secouristes <i class="fa fa-question-circle"></i></h3></div>
        <div class="panel-body">Notre plateforme vous permet d'otenir des renseignement de manière rapide et efficace. Vous pouvez vous-même intéragir
          pour signaler des zones de danger et indiquer les lieux et informations pour chercher de l'aide. Vous pouvez aussi
          donner des informations aux proches.
          </br> Pour rejoindre votre espace cliquez
          <a ng-href="#/secouristes">
            <button class="btn btn-success">ICI</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Vous êtes à la recherche d'information <i class="fa fa-question-circle"></i></h3></div>
        <div class="panel-body">Notre plateforme vous permet de signaler votre situation afin que les secours soient au courant et fassent tout leur
          possible pour vous aider. Vous pouvez aussi profiter des conseils des secours afin de vous aidez dans ces sombres
          moments. Vous recherchez la situation d'une personne? Cette partie est faites pour vous
          </br> Pour tout renseignement clicker
          <a ng-href="#/populations">
            <button class="btn btn-success">ICI</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  console.log(System.getProperties().get("user.dir")); 
  console.log(System.getProperties());

</script>