<div class="row">
	<h2>Crise {{criseDetailCtrl.crise.name}}</h2>
	<div class="main-box clearfix">
		<div class="row">
			<div class="">Consulter la carte</div>
			</br>
			<div class="">
				<div id="map"></div>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="">Informations</div>
			<div class="crise-block">
				{{criseDetailCtrl.crise.informations}}
			</div>
		</div>
		<div class="row">
			<div class="">Consulter la liste des personnes manquantes</div>
			<div class="form-group crise-block">
				Afin de vous aidez à prendre ou retrouver la trace d'un de vos proches, vous pouvez conultez la liste des personnes manquantes.
				Ainsi vous pouvez savoir si votre proche à une situation déclarée.
				</br>Pour ceci cliquer
				<button class="btn btn-success" ng-click="criseDetailCtrl.redirect()">ICI</button>
			</div>
		</div>

	</div>
</div>