<div class="row">
	<div class="main-box clearfix">
		<div class="clearfix">
			<h3>Welcome {{secoursDetailCtrl.user.login}}</h3>
		</div>
		<div>

			<div>Liste des crises</div>
			</br>
			<input class="form-control" ng-model="secoursDetailCtrl.searchText" placeholder="Rechercher une crise">
			</br>
			<div class="col-xs-12 col-sm-6 col-md-3 crise-block" ng-repeat="crise in secoursDetailCtrl.crises | filter: secoursDetailCtrl.searchText">
				<div>Nom : {{crise.name}}</div>
				<div>Lieux : {{crise.location}}</div>
				<div>Date de début : {{crise.beginDate}}</div>
			</div>
		</div>
	</div>
</div>